@import 'tailwindcss';
@import '@heroui/styles';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

.recharts-responsive-container,
.recharts-wrapper,
.recharts-surface {
  outline: none !important;
}
