SERVER_PORT="7654"
ENVIRONMENT="production" # production | development
DATABASE_URL="postgres://cynero_owner:passwd@postgres:5432/cynero?sslmode=require"
HTTP_TIMEOUT="5s"
PAYMENT_INTERVAL="5s"
CLEANER_INTERVAL="10m"
ORDER_EXPIRATION="24h"
