SERVER_PORT="7654"
CONFIG_PATH="./default.yaml"
ENVIRONMENT="production" # production | development
DATABASE_URL="postgres://moxie_owner:passwd@postgres:5432/moxie?sslmode=require"
HTTP_TIMEOUT="5s"
PAYMENT_INTERVAL="5s"
CLEANER_INTERVAL="10m"
ORDER_EXPIRATION="24h"
JWT_SECRET="replace-me"
ENCRYPTION_KEY="replace-with-a-secure-encryption-key"
