SERVER_PORT="7654"
CONFIG_PATH="./default.yaml"
ENVIRONMENT="production" # production | development
DATABASE_URL="postgres://moxie_owner:passwd@postgres:5432/moxie?sslmode=require"
HTTP_TIMEOUT="5s"
PAYMENT_INTERVAL="5s"
CLEANER_INTERVAL="10m"
ORDER_EXPIRATION="24h"

DOMAIN="moxie.mkfolder.dev"

JWT_SECRET="replace-me"
ENCRYPTION_KEY="replace-with-a-secure-encryption-key"

S3_ACCESS_KEY_ID=GK1a7f4236647c8000bcf3f0a0
S3_SECRET_ACCESS_KEY=3257d3c7539c57b5aa0004e1eecb9985ebf1944e054b73bc43d11a95571e10a5
